# Download data from EUROSTAT

see Eurostat [query builder](https://ec.europa.eu/eurostat/web/json-and-unicode-web-services/getting-started/query-builder)

* for HICP "prc_hicp_midx"
* for rGDP "namq_10_gdp"
* for Employment "namq_10_a10_e"
* for Unemployment "une_rt_m"
* etc.

In [1]:
import requests
import numpy as np
import pandas as pd

In [2]:
COMMON_URL = "http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/"

In [3]:
##status_code enter your BDP username and password
usernameBDP = "eeu227"
passwordBDP = ""

In [4]:
proxies = {
        "http": f"http://{usernameBDP}:{passwordBDP}@ep-proxy.bportugal.pt:8080",
        "https": f"http://{usernameBDP}:{passwordBDP}@ep-proxy.bportugal.pt:8080",
    }

In [5]:
# select "hicp" or "gdp"
variable_to_fetch = 'gdp'

In [6]:
geo = "EA19"

if variable_to_fetch == 'gdp':
    ind_url = f"namq_10_gdp?na_item=B1GQ&sinceTimePeriod=1995Q1&precision=1&geo={geo}&unit=CLV10_MEUR&s_adj=SCA"
    freq = 'Qs'
elif variable_to_fetch == 'hicp':
    ind_url = f"prc_hicp_midx?sinceTimePeriod=1996M01&precision=3&geo={geo}&unit=I96&coicop=CP00"
    freq = 'MS'

In [7]:
series_url = f"{COMMON_URL}{ind_url}"

try :
    response  = requests.get(series_url, headers=None)    
except:    
    response  = requests.get(series_url, 
                      proxies=proxies,
                      headers=None
                      )

In [8]:
assert response.status_code == 200

In [9]:
response_dictionary = response.json()

In [10]:
response_dictionary.keys()

dict_keys(['version', 'label', 'href', 'source', 'updated', 'extension', 'class', 'value', 'dimension', 'id', 'size'])

In [11]:
#response_dictionary['label'], response_dictionary['id'],
response_dictionary['dimension']['unit']

{'label': 'unit',
 'category': {'index': {'CLV10_MEUR': 0},
  'label': {'CLV10_MEUR': 'Chain linked volumes (2010), million euro'}}}

In [12]:
# check geo
[k for k in response_dictionary["dimension"]["geo"]["category"]["label"].keys()][0]

'EA19'

In [13]:
time = np.array([x for x in response_dictionary["dimension"]["time"]["category"]["index"].keys()])
values = np.array([x for x in response_dictionary["value"].values()])

In [14]:
if len(time) > len(values):
    time = time[-len(values) :].copy()

In [15]:
data = np.vstack([time, values])
df = pd.DataFrame(data=data.T, columns=["time", "value"])

In [16]:
df.time = pd.to_datetime(df.time.str.replace("M", "-"))

In [17]:
df.set_index(pd.to_datetime(df.time), inplace=True)
df = df.drop('time', axis=1)
df

                value
time
1995-01-01  1837419.9
1995-04-01  1847658.7
1995-07-01  1851717.6
1995-10-01  1858277.7
1996-01-01  1861887.8
...               ...
2020-07-01  2578413.4
2020-10-01  2569399.0
2021-01-01  2564113.0
2021-04-01  2620528.3
2021-07-01  2679880.7

[107 rows x 1 columns]

In [18]:
df = df.asfreq(freq)
df.tail()

                value
time
2020-07-01  2578413.4
2020-10-01  2569399.0
2021-01-01  2564113.0
2021-04-01  2620528.3
2021-07-01  2679880.7